:root {
  --black: #0a0a0a;
  --richblack: #011627;
  --hotmag: #ff17e4;
  --cream: #f1f7ed;
  --yellow: #faa916;
  --secondyellow: #ff9f1c;
  --maroon: #b33951;
  --red: #eb5160;
  --grey: #bac1c0;
  --springreen: #04724d;
  --ghostwhite: #fdfffc;
  --font-size: 1.3rem;
  --space: 'Space Mono', monospace;
  --roboto: 'Roboto', sans-serif;
  --poppins: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--ghostwhite);
}

body {
  font-family: var(--roboto);
}
/* start of nav */
.nav-container {
  padding: 50px 0;
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--richblack);
}

.user {
  display: flex;
  vertical-align: middle;
  gap: 10px;
  background-color: var(--richblack);
}

.user img {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

span.display-name {
  color: var(--ghostwhite);
  background-color: var(--richblack);
}

.nav-container a {
  text-decoration: none;
  color: var(--ghostwhite);
  background-color: var(--richblack);
}

a:hover {
  cursor: pointer;
  color: var(--secondyellow);
}

div.logout-btn {
  background-color: var(--richblack);
}

.logout-btn button {
  padding: 5px 50px;
  border: none;
  border-radius: 5px;
  display: block;
}

.logout-btn button:hover {
  cursor: pointer;
}
/* end of nav */

/* start of login page */
.login-page {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
}

.login-page button {
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 50px;
  border: none;
  font-weight: bold;
}

.login-page button:hover {
  cursor: pointer;
}

/* end of login page */

/* start of post */
.post-container {
  text-align: center;
  padding: 50px 0;
}

.title-post {
  color: var(--secondblack);
  padding-bottom: 5px;
  font-size: 28px;
}

.body-post {
  font-size: 24px;
}

.footer-uname {
  color: var(--grey);
  font-weight: bold;
}

.footer-post button {
  font-size: 28px;
  border-radius: 5px;
}
.footer-post button:hover {
  cursor: pointer;
  background-color: var(--grey);
}
/* end of post */

button {
  background-color: var(--cream);
  border: none;
}
